@import "../../styles/colors";
@import "../../styles/layout";

.dropdown-button__toggle {
  border-color: $light-grey;
  color: $light-grey;
  font-weight: 500;
  border-radius: $rounded-lg !important;
}

.dropdown-button__toggle__icon {
  margin-right: 8px;
}
