/* FONT SIZES */
$base-font-size: 14px;
$sm-font-size: 12px;
$lg-font-size: 16px;
$xl-font-size: 20px;

/* SPACING */
$lg-padding: 1.5rem;

/* BORDER RADIUS */
$rounded-sm: 0.125rem;
$rounded: 0.25rem;
$rounded-lg: 0.5rem;
$rounded-xl: 0.75rem;
