@import "../../styles/layout";

.header {
  display: flex;
  justify-content: center;
  padding: 16px 0;
  gap: $lg-padding;
  width: 100%;

  &__cuisine-filter {
    margin-left: 1rem;
  }

  &__rating-sort {
    margin-left: 1rem;
  }
}
