@import "../../styles/layout";

.restaurant-card {
  max-width: 400px;
  border: none;

  &__img {
    border-radius: $rounded-xl;
  }

  &__review {
    display: flex;
    gap: 4px;
    margin-bottom: -14px;

    &__star {
      margin-right: 4px;
    }

    &__count {
      font-weight: normal;
      color: lighten($color: gray, $amount: 10) !important;
    }
  }

  &__cuisines {
    margin: 0.5rem 0;
    font-weight: normal;
    font-size: $lg-font-size;
  }

  &__footer {
    display: flex;
    gap: 4px;
  }

  &__price {
    font-weight: 600;
    font-size: $lg-font-size;
  }

  &__promoted {
    font-weight: 200;
  }
}
